<!-- _part/list/tree -->
<%
if (data.key === undefined) {
  data.key = model.PK;
}
if (data.list !== null) {
  if (data.list === undefined && typeof params !== 'undefined' && params.list) {
    data.list = params.list;
  }
  data.list = _url(data.list === undefined ? 'list' : data.list);
}
if (Array.isArray(data.select)) {
  data.select = _url(data.select);
}
if (data.view !== null) {
  data.view = _url(data.view === undefined ? 'view' : data.view);
}
if (data.create !== null) {
  data.create = _url(data.create === undefined ? 'create' : data.create);
}
if (data.update !== null) {
  data.update = _url(data.update === undefined ? 'update' : data.update);
}
if (data.updateAttr !== null) {
  data.updateAttr = _url(data.updateAttr === undefined ? 'update-attr' : data.updateAttr);
}
if (data.delete !== null) {
  data.delete = _url(data.delete === undefined ? 'delete-list' : data.delete);
}
if (data.clone === true) {
  data.clone = _url('clone');
} else if (Array.isArray(data.clone)) {
  data.clone = _url(data.clone);
}
if (data.order === undefined) {
  data.order = {[model.PK]: -1};
}
let hasKeyColumn = false;
for (const column of data.columns) {
  if (column.label === undefined) {
    column.label = model.getAttrLabel(column.name);
  }
  if (column.name === data.key) {
    hasKeyColumn = true;
  }
}
if (!hasKeyColumn) {
  data.columns.unshift({
    name: model.PK,
    label: 'ID',
    hidden: true,
    searchable: true,
    sortable: true
  });
}
if (data.multiple === undefined) {
  data.multiple = true;
}
if (data.filter && !data.filter.url) {
  data.filter.url = _url('filter');
}
if (data.jam === undefined) {
  data.jam = 'TreeList';
}
%>
<div class="tree-data-grid data-grid" data-jam="<%- data.jam %>" data-params="<%= JSON.stringify(data) %>">

  <%- include(_view.get('_part/list/commands')) %>

  <% if (data.filter) { %>
  <div class="list-filter">
    <div class="text-center"><i class="fa fa-spinner fa-spin"></i></div>
  </div>
  <% } %>
  <%- include(_view.get('_part/list/top')) %>

  <div class="data-grid-content"></div>

  <%- include(_view.get('_part/list/bottom')) %>

  <div class="overlay">
    <i class="fa fa-spinner fa-spin"></i>
  </div>
</div>