<!-- _part/group/columns -->
<%
const p = {
    css: typeof css === 'undefined' ? '' : css,
    columnCss: typeof columnCss === 'undefined' ? 'col-sm-6' : columnCss,
    labelCss: typeof labelCss === 'undefined' ? 'col-sm-4' : labelCss,
    valueCss: typeof valueCss === 'undefined' ? 'col-sm-8' : valueCss
};
%>
<div class="row <%- p.css %>">
    <% for (const item of items) {
        item.params = item.params || {};
        item.params.labelCss = item.params.labelCss === undefined ? p.labelCss : item.params.labelCss;
        item.params.valueCss = item.params.valueCss === undefined ? p.valueCss : item.params.valueCss;
    %>
    <div class="col <%- item.css === undefined ? p.columnCss : item.css %>">
        <% if (Array.isArray(item.items)) {
            for (const child of item.items) {
                if (child.template) {
                child.params = child.params || {};
                child.params.labelCss = child.params.labelCss === undefined ? item.params.labelCss : child.params.labelCss;
                child.params.valueCss = child.params.valueCss === undefined ? item.params.valueCss : child.params.valueCss;
        %>
        <%- include(child.template, child.params) %>
        <% } else { %>
        <%- child.content %>
        <% }}} else if (item.template) { %>
        <%- include(item.template, item.params) %>
        <% } else { %>
        <%- item.content %>
        <% } %>
    </div>
    <% } %>
</div>