<!-- _part/group/set -->
<%
const p = {
    active: typeof active !== 'undefined' && active ? 'active' : '',
    actionBinder: typeof actionBinder === 'undefined' ? '' : JSON.stringify(actionBinder),
    translate: typeof translate === 'undefined' ? '' : translate
};
%>
<fieldset class="form-base-group form-set <%- p.active %>"
          data-id="<%- id %>"
          data-action-binder="<%= p.actionBinder %>">
    <legend>
        <div class="form-set-toggle">
            <span class="icon fas fa-chevron-right"></span>
            <span data-t="<%- p.translate %>"><%- title %></span>
        </div>
    </legend>
    <div class="form-set-body form-base-group-body">
    <% for (const item of items) {
        if (item.template) { %>
        <%- include(item.template, item.params) %>
        <% } else { %>
        <%- item %>
    <% }} %>
    </div>
</fieldset>