<!-- _part/group/set -->
<%
const p = {
    active: typeof active !== 'undefined' && active ? 'active' : '',
    binder: typeof binder === 'undefined' ? '' : JSON.stringify(binder),
    translate: typeof translate === 'undefined' ? '' : translate
};
%>
<fieldset class="form-base-group form-set <%- p.active %>" data-binder='<%- p.binder %>'>
    <legend><span class="form-set-toggle"><span class="fa fa-plus"></span>
        <span data-t="<%- p.translate %>"><%- title %></span></span>
    </legend>
    <div class="form-set-body form-base-group-body">
    <% for (const item of items) {
        if (item.template) { %>
        <%- include(item.template, item.params) %>
        <% } else { %>
        <%- item %>
    <% }} %>
    </div>
</fieldset>