<!-- _part/group/tabs -->
<%
const p = {
    actionBinder: typeof actionBinder === 'undefined' ? '' : JSON.stringify(actionBinder),
    translate: typeof translate === 'undefined' ? '' : translate
};
%>
<div class="tabs form-tabs" data-action-binder="<%= p.actionBinder %>">
    <ul class="nav nav-tabs" role="tablist">
    <% for (const item of items) { %>
    <li class="nav-tab <%- item.active ? 'active' : '' %>" title="<%= item.hint || '' %>" data-id="<%- item.id %>">
        <a href="#" data-t="<%- p.translate %>"><%- item.label || item.id %></a>
    </li>
    <% } %>
    </ul>
    <div class="tab-content">
        <% for (const item of items) { %>
        <div class="form-base-group tab-pane <%- item.active ? 'active' : '' %>"
             data-id="<%- item.id %>"
             data-action-binder="<%= item.actionBinder === undefined ? '' : JSON.stringify(item.actionBinder) %>">
            <div class="form-base-group-body">
            <% if (typeof item.content === 'string') { %>
                <%- include(item.content) %>
            <% } else if (Array.isArray(item.content)) {
                 for (const data of item.content) {
                   if (data.template) { %>
                <%- include(data.template, data) %>
                <% } else { %>
                <%- data %>
            <% }}} else { %>
                <%- include(item.content.template, item.content) %>
            <% } %>
            </div>
        </div>
        <% } %>
    </div>
</div>
