<!-- _part/group/tabs -->
<%
const p = {
    attraction: typeof attraction === 'undefined' ? '' : JSON.stringify(attraction),
    translate: typeof translate === 'undefined' ? '' : translate
};
%>
<div class="tabs form-tabs" data-attraction="<%= p.attraction %>">
    <ul class="nav nav-tabs" role="tablist">
    <% for (let item of items) { %>
    <li class="nav-tab <%- item.active ? 'active' : '' %>" data-id="<%- item.id %>">
        <a href="#" data-t="<%- p.translate %>"><%- item.label || item.id %></a>
    </li>
    <% } %>
    </ul>
    <div class="tab-content">
        <% for (let item of items) { %>
        <div class="form-base-group tab-pane <%- item.active ? 'active' : '' %>"
             data-id="<%- item.id %>"
             data-attraction="<%= item.attraction === undefined ? '' : JSON.stringify(item.attraction) %>">
            <div class="form-base-group-body">
            <% if (typeof item.content === 'string') { %>
                <%- include(item.content) %>
            <% } else if (Array.isArray(item.content)) {
                 for (let data of item.content) {
                   if (data.template) { %>
                <%- include(data.template, data) %>
                <% } else { %>
                <%- data %>
            <% }}} %>
            </div>
        </div>
        <% } %>
    </div>
</div>
