<%
let create = _url(['create', {id}]);
let rebuild = _url(['rebuild', {id}]);
let drop = _url(['drop', {id}]);
%>
<% layout(_view.get('_layout/modal/model-view')) -%>

<% block('title', 'Indexing') -%>

<h1 class="form-header">
    <span data-t="">Indexed table:</span>
    <b><%- model.TABLE %></b>
</h1>

<fieldset class="overlay-wrapper">
    <legend data-t="">Active indexes</legend>
    <div class="list-group-container overlay-wrapper">
        <div class="overlay"><i class="fa fa-spinner fa-spin"></i></div>
        <div class="list-group-controls mb20" data-rebuild="<%- rebuild %>" data-drop="<%- drop %>">
            <button type="button" class="create btn btn-success btn-light" title="Create">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="rebuild btn btn-warning btn-light" title="Rebuild">
                <span class="glyphicon glyphicon-retweet"></span>
            </button>
            <button type="button" class="drop btn btn-white" title="Remove">
                <span class="glyphicon glyphicon-trash text-danger"></span>
            </button>
        </div>
        <div class="list-group list-indexes active-indexes" data-indexes="<%= JSON.stringify(indexes) %>"></div>
    </div>
</fieldset>

<fieldset>
    <legend data-t="">Index definitions</legend>
    <% if (model.INDEXES) { %>
    <div class="list-group-container overlay-wrapper">
        <div class="overlay"><i class="fa fa-spinner fa-spin"></i></div>
        <div class="list-group-controls mb20" data-activate="<%- create %>">
            <button type="button" class="activate btn btn-primary" title="Activate">
                <span class="glyphicon glyphicon-check"></span>
            </button>
        </div>
        <div class="list-group list-indexes model-indexes">
            <% for (let index of model.INDEXES) {
               index = JSON.stringify(index) %>
            <button type="button" class="list-group-item" data-params="<%= index %>"><%- index %></button>
            <% } %>
        </div>
    </div>
    <% } else { %>
    <div class="alert alert-danger">
        <span data-t="">Index definitions not found in class:</span>
        <b><%- model.constructor.name %></b>
    </div>
    <% } %>
</fieldset>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-t="">Create index</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" data-create="<%- create %>">
                    <div class="form-group required">
                        <label for="create-index-keys" class="col-sm-2 control-label">Keys</label>
                        <div class="col-sm-10">
                            <input id="create-index-keys" type="text" class="form-control" placeholder="key1: 1, key2: -1">
                            <div class="error-block"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="create-index-name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input id="create-index-name" type="text" class="form-control">
                            <div class="error-block"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input id="create-index-unique" type="checkbox">
                                    Unique
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input id="create-index-dropdup" type="checkbox" disabled>
                                    <span data-t="">Drop duplicates</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input id="create-index-background" type="checkbox">
                                    Background
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="create-index-save" type="button" class="btn btn-primary" data-t="">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" data-t="">Close</button>
            </div>
        </div>
    </div>
</div>