<!-- _part/other/tabs -->
<%
const p = {
    jam: typeof jam === 'undefined' ? 'Tabs' : jam,
    cssClass: typeof cssClass === 'undefined' ? '' : cssClass
};
%>
<div class="<%- p.cssClass %> tabs" data-jam="<%- p.jam %>">
    <ul class="nav nav-tabs" role="tablist">
    <% for (const item of items) { %>
    <li class="nav-tab <%- item.active ? 'active' : '' %>" data-id="<%- item.id %>">
        <a href="#" data-t=""><%- item.label || item.id %></a>
    </li>
    <% } %>
    </ul>
    <div class="tab-content">
        <% for (const {active, id, content} of items) { %>
        <div class="tab-pane <%- active ? 'active' : '' %>" data-id="<%- id %>">
            <% if (typeof content === 'string') { %>
                <%- include(item.content) %>
            <% } else if (Array.isArray(content)) {
                for (const item of content) {
                if (item.template) { %>
                <%- include(item.template, item) %>
                <% } else { %>
                <%- item %>
            <% }}} else { %>
            <%- include(content.template, content) %>
            <% } %>
        </div>
        <% } %>
    </div>
</div>