<!-- _layout/frame/content -->
<div class="frame-box"
   data-tab="<%= blocks.tab %>"
   data-title="<%= blocks.title %>"
   data-t-tab="<%- blocks.tabTranslation %>"
   data-t-title="<%- blocks.titleTranslation %>">
  <div class="frame-box-body">

    <%- body %>

  </div>
</div>