<!-- _layout/frame/list -->

<div class="frame-box scroll-container"
     data-tab="<%= blocks.tab %>"
     data-title="<%= blocks.title %>"
     data-t-tab="<%- blocks.tabTranslation %>"
     data-t-title="<%- blocks.titleTranslation %>">

    <div class="frame-box-header scroll-header"></div>

    <div class="frame-box-body scroll-body">

        <%- body %>

    </div>
</div>