<!-- _layout/frame/modelView -->
<%
const p = {
    jam: 'Model',
    id: model.getId(),
    key: model.PK,
    className: model.getBaseName()
};
if (typeof params !== 'undefined') {
    Object.assign(p, params);
}
%>
<div class="frame-box scroll-container"
     data-tab="<%= blocks.tab %>"
     data-title="<%= blocks.title %>"
     data-t-tab="<%- blocks.tabTranslation %>"
     data-t-title="<%- blocks.titleTranslation %>">

    <div class="frame-box-header scroll-header">
        <div class="commands">
            <div class="nav-group">
                <button data-command="reload" class="btn-outline-secondary btn" type="button" title="Reload">
                    <i class="fa fa-redo-alt"></i>
                </button>
            </div>
            <button data-command="copyId" class="btn-outline-secondary btn" type="button" title="Copy ID">ID</button>

            <%- include(_view.get('_part/tool/modelHistory')) %>

            <% if (blocks.commands) { %>
            <%- include(_view.get('_part/other/render'), {data: blocks.commands.get()}) %>
            <% } %>

            <% if (p.help) { %>
            <span class="model-help fa fa-question-circle" title="<%= p.help %>"></span>
            <% } %>
        </div>
    </div>
    <div class="frame-box-body scroll-body">
        <div class="model-view model form"
             data-jam="<%- p.jam %>"
             data-params="<%= JSON.stringify(p) %>">

            <%- body %>

        </div>
    </div>
</div>