<%
const p = {
  name: typeof name === 'undefined' ?  model.getFormAttrName(attr) : name,
  type: typeof type === 'undefined' ?  'text' : type,
  value: typeof value === 'undefined' ? model.get(attr) : value,
  label: typeof label === 'undefined' ? model.getAttrLabel(attr) : label,
  required: model.isAttrRequired(attr) ? ' required' : '',
  autocomplete: typeof autocomplete === 'undefined' ? 'off' : autocomplete,
  error: _t(model.getFirstError(attr)),
  iconClass: typeof iconClass === 'undefined' ? '' : iconClass
};
%>
<div class="form-attr form-group <%- p.required %><%- p.error ? ' has-error' : '' %>">
  <div class="input-group">
    <input name="<%- p.name %>" type="<%- p.type %>" value="<%- p.value %>" class="form-control" <%- p.required %>
         placeholder="<%- _t(p.label) %>" autocomplete="<%- p.autocomplete %>">
    <span class="input-group-text text-body-secondary">
      <i class="<%- p.iconClass %>"></i>
    </span>
  </div>
  <div class="error-block"><%= p.error %></div>
</div>