<%
const p = {
    id: typeof id === 'undefined' ? model.getFormAttrId(attr) : id,
    name: typeof name === 'undefined' ?  model.getFormAttrName(attr) : name,
    type: typeof type === 'undefined' ?  'text' : type,
    value: typeof value === 'undefined' ? model.get(attr) : value,
    label: typeof label === 'undefined' ? model.getAttrLabel(attr) : label,
    required: model.isAttrRequired(attr) ? ' required' : '',
    autocomplete: typeof autocomplete === 'undefined' ? 'off' : autocomplete,
    error: _t(model.getFirstError(attr)),
    iconClass: typeof iconClass === 'undefined' ? '' : iconClass
};
%>
<div class="form-attr form-group<%- p.required %><%- p.error ? ' has-error' : '' %><%- p.iconClass ? ' has-feedback' : '' %>">
    <input id="<%- p.id %>" name="<%- p.name %>" type="<%- p.type %>" <%- p.required %>
           value="<%- p.value %>" class="form-control"
           placeholder="<%- _t(p.label) %>" autocomplete="<%- p.autocomplete %>">
    <% if (p.iconClass) { %>
    <span class="<%- p.iconClass %> form-control-feedback"></span>
    <% } %>
    <div class="error-block"><%= p.error %></div>
</div>