<!-- _part/auth/captcha -->
<%
const name = model.getFormAttrName(attr);
const holder = _t(typeof placeholder === 'undefined' ? model.getAttrLabel(attr) : placeholder);
const error = _t(model.getFirstError(attr), 'areto');
%>
<div class="captcha-container" data-jam="Captcha">
    <div class="captcha">
        <img src="<%- `${url}?_=${_controller.timestamp}` %>" class="captcha-image">
        <a href="#" class="captcha-refresh" tabindex="-1">
            <span class="fa fa-sync-alt"></span>
        </a>
    </div>
    <div class="form-attr form-group has-feedback <%- error ? 'has-error' : '' %>">
        <input name="<%- name %>" type="search" class="form-control" placeholder="<%- holder %>" autocomplete="off">
        <span class="form-control-feedback <%- iconClass %>"></span>
        <div class="error-block"><%- error %></div>
    </div>
</div>
