<%
const title = _t('Change password');
const success = _controller.getFlash('success').join();
const info = _controller.getFlash('info').join();
%>
<% layout(_view.get('_layout/auth')); %>
<% block('title', title); %>

<% if (success) { %>
<div class="alert alert-success"><%- success %></div>
<div class="text-center">
    <a href="/"><%- _t('Back to main') %></a>
</div>

<% } else { %>
<p class="login-box-msg"><%- title %></p>

<% if (info) { %>
<div class="alert alert-warning"><%- info %></div>
<% } %>

<form method="post" class="form">
    <input type="hidden" name="csrf" value="<%- _controller.getCsrfToken() %>">

    <%- include('./_input', {
        attr: 'currentPassword',
        type: 'password',
        iconClass: 'glyphicon glyphicon-lock',
        value: ''
    }) %>
    <%- include('./_input', {
        attr: 'newPassword',
        type: 'password',
        iconClass: 'glyphicon glyphicon-lock',
        value: '',
        autocomplete: 'new-password'
    }) %>
    <%- include('./_input', {
        attr: 'newPasswordRepeat',
        type: 'password',
        iconClass: 'glyphicon glyphicon-lock',
        value: '',
        autocomplete: 'new-password'
    }) %>
    <%- include('./_captcha', {
        attr: 'captchaCode',
        iconClass: 'glyphicon glyphicon-check',
        url: 'auth/captcha'
    }) %>
    <div class="form-attr form-group mt20">
        <button type="submit" class="btn btn-primary btn-block btn-flat">
            <%- _t('Send') %>
        </button>
    </div>
</form>
<% } %>