<%
let messages = _controller.getFlash('passwordChanged');
let changePassword = _t('Change password');
%>

<% layout(_view.get('_layout/auth')) -%>

<% block('title', changePassword) -%>

<p class="login-box-msg"><%- changePassword %>></p>

<% if (messages && messages.length) { %>
<div class="alert alert-success"><%- messages[0] %></div>
<div class="text-center">
    <a href="/"><%- _t('Back to main') %></a>
</div>
<% } else { %>
<form action="auth/change-password" method="post" class="form">
    <%- include('./password', {
        attr: 'currentPassword'
    }) %>
    <%- include('./password', {
        attr: 'newPassword'
    }) %>
    <%- include('./password', {
        attr: 'newPasswordRepeat'
    }) %>
    <%- include('./captcha', {
        attr: 'captchaCode',
        iconClass: 'glyphicon glyphicon-check',
        url: 'auth/captcha'
    }) %>
    <div class="form-attr form-group mt20">
        <button type="submit" class="btn btn-primary btn-block btn-flat">
            <%- _t('Change') %>
        </button>
    </div>
</form>
<% } %>