<%
const title = _t('Request password reset');
const success = _controller.getFlash('success').join();

layout(_view.get('_layout/auth'));
block('title', title);
%>

<% if (success) { %>
<div class="alert alert-success"><%- success %></div>
<div class="text-center">
    <a href="/"><%- _t('Home') %></a>
</div>

<% } else { %>
<p class="login-box-msg"><%- title %></p>

<form method="post" class="form">

    <%- include(_view.get('auth/_input'), {
        attr: 'email',
        type: 'email',
        iconClass: 'fas fa-at',
        autocomplete: 'on'
    }) %>

    <%- include(_view.get('auth/_captcha')) %>

    <div class="form-submit form-attr form-group">
        <button type="submit" class="btn-primary btn">
            <%- _t('Send') %>
        </button>
    </div>
</form>
<% } %>