<%
const title = _t('Sign up');
const error = model.getFirstError('register');

layout(_view.get('_layout/auth'));
block('title', title);
%>

<p class="login-box-msg">
    <%- _t('auth.registerNewUser') %>
</p>

<% if (error) { %>
<div class="alert-danger alert"><%- _t(error) %></div>
<% } %>

<form method="post" class="form">

    <%- include(_view.get('auth/_signUpForm')) %>

    <div class="form-attr form-group mt20">
        <button type="submit" class="btn btn-primary btn-block btn-flat">
            <%- title %>
        </button>
    </div>
</form>

<div class="login-box-footer">
    <a href="auth/sign-in" class="btn-link btn">
        <%- _t('Sign in') %>
    </a>
</div>