<%
const messages = _controller.getFlash('registered');
const signIn = _t('Sign in');
%>
<% layout(_view.get('_layout/auth')) -%>

<% block('title', signIn) -%>

<% if (messages.length) { %>
<div class="alert alert-success"><%- messages[0] %></div>
<% } %>

<p class="login-box-msg">
    <%- _t('Sign in to start your session') %>
</p>

<form action="auth/sign-in" method="post" class="form">

    <%- include('./input', {
        attr: 'email',
        type: 'email',
        iconClass: 'glyphicon glyphicon-envelope',
        autocomplete: 'on'
    }) %>

    <%- include('./input', {
        attr: 'password',
        type: 'password',
        iconClass: 'glyphicon glyphicon-lock',
        value: ''
    }) %>

    <% if (model.isCaptchaRequired()) { %>
    <%- include('./captcha', {
        attr: 'captchaCode',
        iconClass: 'glyphicon glyphicon-check',
        url: 'auth/captcha'
    }) %>
    <% } %>

    <% if (_controller.user.auth.enableAutoLogin) { %>
    <%- include('./checkbox', {
        attr: 'rememberMe'
    }) %>
    <% } %>

    <div class="form-attr form-group mt20">
        <button type="submit" class="btn btn-primary btn-block btn-flat">
            <%- signIn %>
        </button>
    </div>
</form>

<% if (_controller.canSignUp()) { %>
<div class="text-center mt20">
    <a href="auth/sign-up"><%- _t('Sign up new user') %></a>
</div>
<% } %>