<%
const title = _t('Sign up');
layout(_view.get('_layout/auth'));
block('title', title);
%>

<p class="login-box-msg">
    <%- _t('Register a new user') %>
</p>

<form method="post" class="form">

    <%- include('./input', {
        attr: 'name',
        iconClass: 'glyphicon glyphicon-user'
    }) %>

    <%- include('./input', {
        attr: 'email',
        type: 'email',
        iconClass: 'glyphicon glyphicon-envelope'
    }) %>

    <%- include('./input', {
        attr: 'password',
        type: 'password',
        iconClass: 'glyphicon glyphicon-lock',
        value: '',
        autocomplete: 'new-password'
    }) %>

    <%- include('./input', {
        attr: 'passwordRepeat',
        type: 'password',
        iconClass: 'glyphicon glyphicon-lock',
        value: '',
        autocomplete: 'new-password'
    }) %>

    <%- include('./captcha', {
        attr: 'captchaCode',
        iconClass: 'glyphicon glyphicon-check',
        url: 'auth/captcha'
    }) %>

    <div class="form-attr form-group mt20">
        <button type="submit" class="btn btn-primary btn-block btn-flat">
            <%- title %>
        </button>
    </div>
</form>

<div class="text-center mt20">
    <a href="auth/sign-in">
        <%- _t('Go to sign in') %>
    </a>
</div>