<%
let params = {
    'id': typeof id === 'undefined' ? model.getFormAttrId(attr) : id,
    'name': typeof name === 'undefined' ?  model.getFormAttrName(attr) : name,
    'type': typeof type === 'undefined' ?  'text' : type,
    'value': typeof value === 'undefined' ? model.get(attr) : value,
    'label': typeof label === 'undefined' ? model.getAttrLabel(attr) : label,
    'required': model.isAttrRequired(attr) ? ' required' : '',
    'autocomplete': typeof autocomplete === 'undefined' ? 'off' : autocomplete,
    'error': _t(model.getFirstError(attr)),
    'iconClass': typeof iconClass === 'undefined' ? '' : iconClass
};
%>
<div class="form-attr form-group<%- params.required %><%- params.error ? ' has-error' : '' %><%- params.iconClass ? ' has-feedback' : '' %>">
    <input id="<%- params.id %>" name="<%- params.name %>" type="<%- params.type %>" <%- params.required %>
           value="<%- params.value %>" class="form-control"
           placeholder="<%- _t(params.label) %>" autocomplete="<%- params.autocomplete %>">
    <% if (params.iconClass) { %>
    <span class="<%- params.iconClass %> form-control-feedback"></span>
    <% } %>
    <div class="error-block"><%= params.error %></div>
</div>