<!DOCTYPE html>
<html lang="<%- _controller.language %>">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <base href="<%- _baseUrl %>">

    <title><%- blocks.title %> - <%- _module.getTitle() %></title>

    <%- include(_view.get('_part/asset/style/main')) %>

    <link rel="stylesheet" href="style/module.css">
</head>
<body class="login-page">

<div class="container-fluid">
    <div class="login-box">
        <div class="login-box-head">
            <a href="/"><b><%- _module.getTitle() %></b></a>
        </div>
        <div class="login-box-body">

            <%- body %>

        </div>
    </div>
</div>

<%- include(_view.get('_part/asset/script/main')) %>

<script src="script/init.js"></script>
</body>
</html>