<% layout(_view.get('_layout/main')) -%>

<!-- _layout/content -->
<div class="wrapper">

    <header class="main-header">

        <%- include(_view.get('_part/nav/logo')) %>

        <nav class="navbar navbar-static-top" role="navigation" class>
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <%- include(_view.get('_part/nav/user')) %>
                </ul>
            </div>
            <%- include(_view.get('_part/nav/global-menu-toggle'), {url: '/default/widget'}) %>
            <%- include(_view.get('_part/tool/modal-back')) %>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <div>
                <%- _view.anchorWidget('mainMenu') %>
            </div>
        </section>
    </aside>

    <div id="content-wrapper" class="content-wrapper">
        <section class="content-header">
            <h1>
                <%- blocks.title %>
            </h1>
            <ol class="breadcrumb">
                <%- blocks.breadcrumbs %>
            </ol>
        </section>

        <section class="content">
            <%- include(_view.get('_part/misc/flash-alert')) %>
            <%- body -%>
        </section>
    </div>
</div>

<%- include(_view.get('_part/misc/confirmation')) %>

<div id="global-loader" class="global-loader loader">
    <span class="fa fa-spinner fa-spin spinner"></span>
</div>

<template id="notice-template">
    <div class="hidden">
        <button type="button" class="close">×</button>
        <p class="message"></p>
    </div>
</template>
