<% layout(_view.get('_layout/main')) %>

<!-- _layout/content -->
<div class="wrapper">

    <header class="main-header">

        <%- include(_view.get('_part/nav/logo')) %>

        <nav class="navbar navbar-static-top" role="navigation" class>
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <%- include(_view.get('_part/nav/userToggle')) %>
                </ul>
            </div>
            <%- include(_view.get('_part/nav/commonMenuToggle')) %>
            <%- include(_view.get('_part/tool/modalBack')) %>
        </nav>
    </header>

    <div id="content-wrapper" class="content-wrapper">
        <section class="content">
            <%- include(_view.get('_part/misc/flashAlert')) %>
            <%- body %>
        </section>
    </div>

    <footer class="main-footer"></footer>
</div>

<%- include(_view.get('_part/misc/dialog')) %>

<template id="notice-template">
    <div class="hidden">
        <button type="button" class="close">&times;</button>
        <p class="message"></p>
    </div>
</template>

