<% layout(_view.get('_layout/main')) %>

<header class="main-header">
    <nav class="navbar-super navbar navbar-dark">
        <%- include(_view.get('_part/nav/logo')) %>
    </nav>
    <nav class="navbar navbar-expand-md navbar-dark">

        <%- include(_view.get('_part/nav/logo')) %>

        <button class="sidebar-toggle nav-btn nav-btn-primary btn" type="button" data-jam="SidebarToggle">
            <i class="fas fa-chevron-left"></i>
        </button>

        <%- include(_view.get('_part/nav/commonMenu')) %>
        <%- include(_view.get('_part/nav/frameStackBack')) %>

        <div class="ml-auto"></div>

        <%- _view.placeWidget('notifications') %>
        <%- include(_view.get('_part/nav/user')) %>
        <%- include(_view.get('_part/nav/language')) %>
    </nav>
</header>

<aside class="main-sidebar">
    <%- _view.placeWidget('sideMenu') %>
</aside>

<section class="main-content">
    <div class="main-container container-fluid">

        <%- include(_view.get('_part/other/alert')) %>

        <h1 class="content-header" data-t=""><%- blocks.title %></h1>

        <%- body %>

    </div>
</section>

<div class="global-loader overlay">
    <i class="fa fa-spinner fa-spin"></i>
</div>

<%- include(_view.get('_part/other/footer')) %>
<%- include(_view.get('_part/other/frameStack')) %>