<% layout(_view.get('_layout/main')) %>

<!-- _layout/content -->
<div class="wrapper">

    <header class="main-header">
        <a href="" class="logo">
            <span class="logo-mini"><b>E</b></span>
            <span class="logo-lg"><b>Evado</b></span>
        </a>
        <nav class="navbar-static-top navbar" role="navigation" class>
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <%- include(_view.get('_part/nav/userToggle')) %>
                </ul>
            </div>
            <%- include(_view.get('_part/nav/commonMenuToggle')) %>
            <%- include(_view.get('_part/tool/modalBack')) %>
        </nav>
    </header>

    <div id="content-wrapper" class="content-wrapper">
        <section class="content">
            <%- include(_view.get('_part/other/flashAlert')) %>
            <%- body %>
        </section>
    </div>
</div>