<!-- _layout/empty -->
<% layout(_view.get('_layout/main')) %>

<header class="main-header">
    <nav class="navbar-super navbar navbar-dark">
        <%- include(_view.get('_part/nav/logo')) %>
    </nav>
    <nav class="navbar navbar-expand-md navbar-dark">

        <%- include(_view.get('_part/nav/logo')) %>
        <%- include(_view.get('_part/nav/commonMenu')) %>
        <%- include(_view.get('_part/nav/frameStackBack')) %>

        <div class="ml-auto"></div>

        <%- _view.placeWidget('notifications') %>
        <%- include(_view.get('_part/nav/user')) %>
        <%- include(_view.get('_part/nav/language')) %>
    </nav>
</header>

<section class="main-content">
    <div class="main-container container-fluid">

        <%- include(_view.get('_part/other/alert')) %>

        <%- body %>

    </div>
</section>

<%- include(_view.get('_part/other/footer')) %>