<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <base href="<%- _baseUrl %>">

    <title data-text="<%= blocks.title %>"><%- _module.getTitle() %></title>

    <%- include(_view.get('_part/asset/style/defaults'), {skin: 'black'}) %>

    <link rel="stylesheet" href="style/module.css">
</head>
<body class="hold-transition skin-black sidebar-mini" data-csrf="<%- _controller.getCsrfToken() %>">

    <%- body %>

    <%- include(_view.get('_part/misc/modal')) %>

    <%- include(_view.get('_part/asset/script/jam')) %>
    <%- include(_view.get('_part/asset/script/messages')) %>
    <%- include(_view.get('_part/asset/script/defaults')) %>

    <script src="script/init.js"></script>

</body>
</html>