<!-- _layout/modal/form -->
<%
const p = {
    jam: 'Model',
    url: _controller.getOriginalUrl(),
    className: model.NAME,
    timestamp: _controller.timestamp,
    save: true
};
if (typeof params !== 'undefined') {
    Object.assign(p, params);
}
%>
<div class="jmodal-scroll-container box-info box"
     data-title="<%= blocks.title %>"
     data-tab="<%= blocks.tab %>">
    <div class="box-header with-border scroll-header">
        <div class="model-commands">
            <% if (p.save) { %>
            <button data-command="saveClose" class="btn btn-primary mr20" type="button" title="Save and close">
                <span class="glyphicon glyphicon-off"></span>
            </button>
            <% } %>
            <button data-command="reload" class="btn-warning btn-light btn mr15" type="button" title="Reload">
                <span class="fa fa-redo-alt"></span>
            </button>
            <% if (blocks.commands) { %>
            <%- include(_view.get('_part/misc/render'), {data: blocks.commands.get()}) %>
            <% } %>
        </div>
    </div>
    <div class="scroll-body box-body">
        <form class="model form-horizontal form" autocomplete="off" enctype="multipart/form-data"
              data-jam="<%- p.jam %>" data-params="<%= JSON.stringify(p) %>">
            <%- body %>
        </form>
    </div>
    <div class="model-loader overlay">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>