<!-- _layout/modal/modelView -->
<%
const p = {
    jam: 'Model',
    id: model.getId(),
    key: model.PK,
    className: model.getBaseName()
};
if (typeof params !== 'undefined') {
    Object.assign(p, params);
}
%>
<div class="jmodal-scroll-container content-box box-info box"
     data-tab="<%= blocks.tab %>"
     data-title="<%= blocks.title %>"
     data-t-tab="<%- blocks.tabTranslation %>"
     data-t-title="<%- blocks.titleTranslation %>">

    <div class="box-header with-border scroll-header">
        <div class="model-commands">
            <div class="btn-set">
                <button data-command="reload" class="btn-warning btn-light btn" type="button" title="Reload">
                    <span class="fa fa-redo-alt"></span>
                </button>
            </div>
            <button data-command="copyId" class="btn btn-white" type="button" title="Copy ID">ID</button>

            <%- include(_view.get('_part/tool/modelHistory')) %>

            <% if (blocks.commands) { %>
            <%- include(_view.get('_part/other/render'), {data: blocks.commands.get()}) %>
            <% } %>

            <% if (p.help) { %>
            <span class="model-help fa fa-question-circle" title="<%= p.help %>"></span>
            <% } %>
        </div>
    </div>
    <div class="scroll-body box-body">

        <div class="box-notice"></div>

        <div class="model-view model form-horizontal form"
             data-jam="<%- p.jam %>"
             data-params="<%= JSON.stringify(p) %>">
            <%- body %>
        </div>
    </div>
</div>