<!-- _layout/modal/model-form -->
<%
const p = {
    jam: 'Model',
    url: _controller.getOriginalUrl(),
    id: model.getId() || '',
    key: model.PK,
    className: model.NAME,
    timestamp: _controller.timestamp,
    remove: _url('remove')
};
if (typeof params !== 'undefined') {
    Object.assign(p, params);
}
%>
<div class="jmodal-scroll-container box-info box" data-title="<%= blocks.title %>" data-tab="<%= blocks.tab %>">

    <div class="box-header with-border scroll-header">
        <div class="model-controls">
            <button data-id="saveClose" class="btn btn-primary" type="button" title="Save and close">
                <span class="glyphicon glyphicon-off"></span>
            </button>
            <button data-id="save" class="btn btn-info mr20" type="button" title="Save">
                <span class="glyphicon glyphicon-save"></span>
            </button>

            <% if (p.id) { %>
                <button data-id="copyId" class="btn btn-white" type="button" title="Copy ID">ID</button>
                <% if (p.clone) { %>
                <button data-id="clone" class="btn btn-success btn-light" type="button" title="Clone">
                    <span class="fa fa-copy"></span>
                </button>
            <% }} %>

            <button data-id="reload" class="btn btn-default mr15" type="button" title="Reload form">
                <span class="fa fa-sync-alt"></span>
            </button>

            <%- include(_view.get('_part/tool/model-history')) %>

            <% if (blocks.controls) { %>
            <%- include(_view.get('_part/misc/render'), {data: blocks.controls.get()}) %>
            <% } %>

            <% if (p.help) { %>
            <span class="model-help fa fa-question-circle" title="<%= p.help %>"></span>
            <% } %>

            <div class="pull-right">
                <% if (p.id && p.remove) { %>
                <button data-id="remove" class="btn btn-white" type="button" title="Delete">
                    <span class="glyphicon glyphicon-trash text-danger"></span>
                </button>
                <% } %>
            </div>
        </div>
    </div>
    <div class="scroll-body box-body">
        <form class="model form-horizontal form" autocomplete="off" enctype="multipart/form-data"
              data-jam="<%- p.jam %>"
              data-params="<%= JSON.stringify(p) %>">
            <%- body %>
        </form>
    </div>
    <div class="model-loader overlay">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>