<!-- _layout/modal/model-view -->
<%
const p = {
    jam: 'Model',
    id: model.getId(),
    key: model.PK
};
if (typeof params !== 'undefined') {
    Object.assign(p, params);
}
%>
<div class="jmodal-scroll-container content-box box-info box"
     data-title="<%= blocks.title %>"
     data-tab="<%= blocks.tab %>">

    <div class="box-header with-border scroll-header">
        <div class="model-controls">

            <button data-id="copyId" class="btn btn-white" type="button" title="Copy ID">ID</button>

            <button data-id="reload" class="reload btn btn-default" type="button" title="Reload">
                <span class="fa fa-sync-alt"></span>
            </button>

            <%- include(_view.get('_part/tool/model-history')) %>

            <% if (blocks.controls) { %>
            <%- include(_view.get('_part/misc/render'), {data: blocks.controls.get()}) %>
            <% } %>

            <% if (p.help) { %>
            <span class="model-help fa fa-question-circle" title="<%= p.help %>"></span>
            <% } %>
        </div>
    </div>
    <div class="scroll-body box-body">

        <div class="box-notice"></div>

        <div class="model-view model form-horizontal form"
             data-jam="<%- p.jam %>"
             data-params="<%= JSON.stringify(p) %>">
            <%- body %>
        </div>
    </div>
</div>