<!-- _part/attr/checkbox -->

<% let params = {}; %>
<%- include('_params', {params}) %>

<div class="form-attr form-group <%- params.css %>" data-type="checkbox"
     data-attraction='<%= params.attraction %>'>
    <div class="<%- params.labelCss %>"></div>
    <div class="<%- params.valueCss %>">
        <div class="checkbox checkbox-init">
            <label data-t="<%- params.translate %>" title="<%= params.hint %>">
                <input name="<%- params.name %>"
                       type="hidden" class="form-value" value="<%- params.value ? 'on' : ''%>">
                <input<%- params.value ? ' checked' : '' %> type="checkbox">
                <span data-t="<%- params.translate %>"><%- params.label %></span>
            </label>
        </div>
        <div class="error-block"></div>
    </div>
</div>