<!-- _part/attr/checkList -->

<% const p = {handler: 'CheckboxList'}; %>

<%- include('_params', {p}) %>

<div class="form-attr <%- p.css %> <%- p.required %> form-group"
     data-handler="<%= p.handler %>"
     data-attraction='<%= p.attraction %>'>
    <label class="control-label <%- p.labelCss %>" data-t="<%- p.translate %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <input name="<%- p.name %>" value="<%- p.value %>" type="hidden">
        <div>
            <% for (const item of items) { %>
            <label class="checkbox checkbox-inline">
                <input value="<%- item.value %>" type="checkbox">
                <span data-t="<%- p.translate %>"><%- item.text %></span>
            </label>
            <% } %>
        </div>
        <div class="hint-block"><%- p.hint %></div>
        <div class="error-block"></div>
    </div>
</div>