<!-- _part/attr/checkList -->
<%
const p = {
    allValue: typeof allValue === 'undefined' ? null : allValue,
    handler: 'CheckboxList'
};
%>
<%- include(_view.get('_part/attr/_params'), {p}) %>

<div class="form-attr <%- p.css %> <%- p.required %> form-group row"
     data-handler="<%= p.handler %>"
     data-action-binder="<%= p.actionBinder %>"
     data-all="<%- p.allValue %>">
    <label class="col-form-label <%- p.labelCss %>">
        <span class="col-form-label-text" title="<%= p.extHint %>" data-t="<%- p.translate %>"><%- p.label %></span>
    </label>
    <div class="<%- p.valueCss %>">
        <input name="<%- p.name %>" value="<%- p.value %>" type="hidden" class="form-value">
        <div class="form-check-list-inline form-check-list">
            <% if (Array.isArray(items)) {
               for (const item of items) { %>
            <div class="form-check form-check-inline">
                <input class="form-check-input" value="<%= item.value %>" type="checkbox">
                <label class="form-check-label" title="<%= item.hint %>" data-t="<%- p.translate %>"><%- item.text %></label>
            </div>
            <% }} else {
               for (const key of Object.keys(items)) { %>
            <div class="form-check form-check-inline">
                <input class="form-check-input" value="<%= key %>" type="checkbox">
                <label class="form-check-label" data-t="<%- p.translate %>"><%- items[key] %></label>
            </div>
            <% }} %>
        </div>
        <div class="error-block"></div>
        <div class="hint-block"><%- p.hint %></div>
    </div>
</div>