<!-- _part/attr/checkList -->
<%
const p = {
    allValue: typeof allValue === 'undefined' ? null : allValue,
    handler: 'CheckboxList'
};
%>
<%- include(_view.get('_part/attr/_params'), {p}) %>

<div class="form-attr <%- p.css %> <%- p.required %> form-group"
     data-handler="<%= p.handler %>"
     data-action-binder="<%= p.actionBinder %>"
     data-all="<%- p.allValue %>">
    <label class="control-label <%- p.labelCss %>" data-t="<%- p.translate %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <input name="<%- p.name %>" value="<%- p.value %>" type="hidden" class="form-value">
        <div class="checkbox-list">
            <% if (Array.isArray(items)) {
               for (const item of items) { %>
            <label class="checkbox checkbox-inline">
                <input value="<%- item.value %>" type="checkbox">
                <span data-t="<%- p.translate %>"><%- item.text %></span>
            </label>
            <% }} else {
               for (const key of Object.keys(items)) { %>
            <label class="checkbox checkbox-inline">
                <input value="<%- key %>" type="checkbox">
                <span data-t="<%- p.translate %>"><%- items[key] %></span>
            </label>
            <% }} %>
        </div>
        <div class="error-block"></div>
        <div class="hint-block"><%- p.hint %></div>
    </div>
</div>