<!-- _part/attr/custom -->
<%
const p = {
    contentCss: typeof contentCss === 'undefined' ? 'form-control-plaintext' : contentCss
};
const params = {p};
%>
<%- include(_view.get('_part/attr/_params'), params) %>

<div class="form-attr form-group row <%- p.css %>"
     data-handler="<%= p.handler %>"
     data-action-binder="<%= p.actionBinder %>">

    <%- include(_view.get('_part/attr/_label'), params) %>

    <div class="<%- p.valueCss %>">
        <div class="<%- p.contentCss %>">
            <% if (content.template) { %>
            <%- include(content.template, content) %>
            <% } else { %>
            <%- content %>
            <% } %>
        </div>
        <div class="error-block"></div>
        <div class="hint-block" data-t="<%- p.translate %>"><%- p.hint %></div>
    </div>
</div>