<!-- _part/attr/date -->
<%
const p = {
    handler: 'Date',
    utc: typeof utc === 'undefined' ? true : utc,
    options: typeof options === 'undefined' ? '' : JSON.stringify(options)
};
%>
<%- include(_view.get('_part/attr/_params'), {p}) %>

<div class="form-attr form-group row <%- p.required %>"
     data-handler="<%= p.handler %>"
     data-action-binder="<%= p.actionBinder %>"
     data-utc="<%- p.utc %>"
     data-params="<%= p.options %>">
    <label class="col-form-label <%- p.labelCss %>">
        <span class="col-form-label-text" title="<%= p.extHint %>" data-t="<%- p.translate %>"><%- p.label %></span>
    </label>
    <div class="<%- p.valueCss %>">
        <input name="<%- p.name %>" type="hidden" value="<%- p.value %>" class="form-value">
        <div class="input-group">
            <input type="text" <%- p.required %> class="datepicker form-control">
            <span class="input-group-text"><i class="far fa-calendar"></i></span>
        </div>
        <div class="error-block"></div>
        <div class="hint-block" data-t="<%- p.translate %>"><%- p.hint %></div>
    </div>
</div>