<!-- _part/attr/date -->

<% const p = {}; %>
<%- include('_params', {p}) %>

<div class="form-attr form-group <%- required %>" data-type="date"
     data-utc="<%- typeof utc === undefined || utc ? 'true' : '' %>"
     data-params="<%= JSON.stringify(typeof options === 'object' ? options : {}) %>">
    <label for="<%- p.id %>" class="control-label <%- p.labelCss %>" title="<%= p.extHint %>"
           data-t="<%- p.translate %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <input name="<%- p.name %>" type="hidden" class="form-value" value="<%- p.value %>">
        <div class="input-group">
            <input id="<%- p.id %>" type="text" class="form-control datepicker">
            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
        </div>
        <div class="hint-block" data-t="<%- p.translate %>"><%- p.hint %></div>
        <div class="error-block"></div>
    </div>
</div>