<!-- _part/attr/download -->
<%
let params = {
    fileUrl: `file/download?id=${model.getId()}`,
    preview: typeof previewSizeKey === 'undefined' ? 'large' : previewSizeKey
};
let preview = model.isImage()
    ? `file/preview?id=${model.getId()}&s=${params.preview}&t=${_controller.timestamp}`
    : null;
%>
<%- include('_params', {params}) %>

<div class="form-attr form-group">
    <label class="control-label <%- params.labelCss %>"><%- params.label %></label>
    <div class="<%- params.valueCss %>">
        <% if (preview) { %>
        <p class="form-control-static">
            <a href="<%- params.fileUrl %>" target="_blank">
                <img src="<%- preview%>" alt="<%- params.value %>">
            </a>
        </p>
        <% } else { %>
        <p class="form-control-static">
            <a href="<%- params.fileUrl %>" target="_blank"><%- params.value %></a>
        </p>
        <% } %>
    </div>
</div>