<!-- _part/attr/download -->
<%
const p = {
    fileUrl: `file/download?id=${model.getId()}`,
    preview: typeof previewSizeKey === 'undefined' ? 'large' : previewSizeKey
};
const preview = model.isImage()
    ? `file/preview?id=${model.getId()}&s=${p.preview}&t=${_controller.timestamp}`
    : null;
%>
<%- include('_params', {p}) %>

<div class="form-attr form-group">
    <label class="control-label <%- p.labelCss %>" title="<%= p.extHint %>"
           data-t="<%- p.translate %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <% if (preview) { %>
        <p class="form-control-static">
            <a href="<%- p.fileUrl %>" target="_blank">
                <img src="<%- preview %>" alt="<%= model.getTitle() %>">
            </a>
        </p>
        <% } else { %>
        <p class="form-control-static">
            <a href="<%- p.fileUrl %>" target="_blank"><%- model.getTitle() %></a>
        </p>
        <% } %>
    </div>
</div>