<!-- _part/attr/download -->
<%
const p = {
    thumbnail: typeof thumbnail === 'undefined' ? 'large' : thumbnail,
    thumbnailPath: typeof thumbnailPath === 'undefined' ? 'file/thumbnail' : thumbnailPath,
    url: `${typeof downloadPath === 'undefined' ? 'file/download' : downloadPath}?id=${model.getId()}`
};
const src = model.isImage()
    ? `${p.thumbnailPath}?id=${model.getId()}&s=${p.thumbnail}&t=${_controller.timestamp}`
    : null;
%>
<%- include('_params', {p}) %>

<div class="form-attr form-group <%- p.css %>" data-handler="<%= p.handler %>">
    <label class="control-label <%- p.labelCss %>" title="<%= p.extHint %>"
           data-t="<%- p.translate %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <p class="form-control-static">
            <a href="<%- p.url %>" target="_blank" title="Download" tabindex="-1">
                <%= model.getTitle() %>
            </a>
        </p>
        <% if (src) { %>
        <img src="<%- src %>" class="thumbnail img-responsive" alt="<%= model.getTitle() %>">
        <% } %>
    </div>
</div>