<!-- _part/attr/download -->
<%
const p = {
    fileUrl: `file/download?id=${model.getId()}`,
    preview: typeof preview === 'undefined' ? 'large' : preview
};
const src = model.isImage()
    ? `file/preview?id=${model.getId()}&s=${p.preview}&t=${_controller.timestamp}`
    : null;
%>
<%- include('_params', {p}) %>

<div class="form-attr form-group" data-handler="<%= p.handler %>">
    <label class="control-label <%- p.labelCss %>" title="<%= p.extHint %>"
           data-t="<%- p.translate %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <p class="form-control-static">
            <a href="<%- p.fileUrl %>" target="_blank" title="Download">
                <%- model.getTitle() %>
            </a>
        </p>
        <% if (src) { %>
         <div class="mt10">
            <img src="<%- src %>" class="img-responsive" alt="<%= model.getTitle() %>">
         </div>
        <% } %>
    </div>
</div>