<!-- _part/attr/enum -->
<%
const p = {
    select2: typeof select2 === 'undefined' ? '' : JSON.stringify(select2),
    sets: typeof sets === 'undefined' ? '' : JSON.stringify(sets)
};
%>
<%- include('_params', {p}) %>

<div class="form-attr form-group<%- p.required %> <%- p.css %>" data-type="enum"
     data-value="<%= p.value %>" data-sets="<%= p.sets %>"
     data-select2="<%= p.select2 %>" data-attraction='<%= p.attraction %>'>
    <label class="control-label <%- p.labelCss %>" title="<%= p.extHint %>"
           data-t="<%- p.translate %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <select id="<%- p.id %>" name="<%- p.name %>" <%- p.disabled %> class="form-control">
        </select>
        <div class="hint-block" data-t="<%- p.translate %>"><%- p.hint %></div>
        <div class="error-block"></div>
    </div>
</div>