<!-- _part/attr/file -->

<% const p = {}; %>
<%- include('_params', {p}) %>

<div class="form-attr form-group<%- p.required %>" data-type="file">
    <label class="control-label <%- p.labelCss %>" title="<%= p.extHint %>"
           data-t="<%- p.translate %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <input type="hidden" name="<%- p.name %>" class="form-value" value="<%= p.value %>">
        <div class="uploader show-dropzone" data-options="<%= JSON.stringify(options)%>">
            <div class="uploader-input">
                <input type="file" class="uploader-input-file">
                <div class="uploader-dropzone">
                    <div class="uploader-dropzone-h1" data-t="">Drop or select file here</div>
                </div>
            </div>
            <div class="uploader-overflow" data-t="">Too many files</div>
            <div class="uploader-list clearfix">
                <div class="uploader-item pending sample">
                    <div class="uploader-thumb"></div>
                    <div class="uploader-signs">
                        <div class="uploader-sign-pending fa fa-spinner fa-spin"></div>
                        <div class="uploader-sign-processing fa fa-spinner fa-spin"></div>
                        <div class="uploader-sign-done glyphicon glyphicon-ok"></div>
                        <div class="uploader-sign-failed glyphicon glyphicon-ban-circle"></div>
                        <div class="uploader-sign-saved glyphicon glyphicon-saved"></div>
                    </div>
                    <div class="uploader-remove" title="Delete"><span class="glyphicon glyphicon-remove"></span></div>
                    <div class="uploader-info">
                        <div class="uploader-filename">File</div>
                        <div class="progress progress-xxs"><div class="progress-bar"></div></div>
                        <div class="uploader-message" data-t="">Preparing to upload...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hint-block" data-t="<%- p.translate %>"><%- p.hint %></div>
        <p class="error-block"></p>
    </div>
</div>