<!-- _part/attr/json -->
<%
const p = {handler: 'Json'};
%>
<%- include(_view.get('_part/attr/_params'), {p}) %>

<div class="form-attr form-group <%- p.required %> <%- p.css %>"
     data-handler="<%= p.handler %>"
     data-action-binder="<%= p.actionBinder %>">
    <label class="control-label <%- p.labelCss %>" title="<%= p.extHint %>"
           data-t="<%- p.translate %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <div class="input-group">
            <input name="<%- p.name %>" type="text" value="<%= p.value %>" class="form-control form-value">
            <span class="input-group-btn">
                <button class="edit btn btn-default" type="button" title="Editor">
                    <i class="glyphicon glyphicon-pencil"></i>
                </button>
            </span>
        </div>
        <div class="error-block"></div>
        <div class="hint-block" data-t="<%- p.translate %>"><%- p.hint %></div>
    </div>

    <div class="json-editor modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" data-t="">JSON editor</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger light" style="display: none"></div>
                    <textarea class="json-editor-text form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="save btn btn-primary" title="Save">
                        <span class="glyphicon glyphicon-save"></span>
                    </button>
                    <button class="btn btn-default" data-dismiss="modal" title="Cancel">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>