<!-- _part/attr/password -->
<%
const p = {};
%>
<%- include(_view.get('_part/attr/_params'), {p}) %>

<div class="form-attr form-group row <%- p.required %>" data-handler="<%= p.handler %>">
    <label class="col-form-label <%- p.labelCss %>">
        <span class="col-form-label-text" title="<%= p.extHint %>" data-t="<%- p.translate %>"><%- p.label %></span>
    </label>
    <div class="<%- p.valueCss %>">
        <input name="<%- p.name %>" type="password" <%- p.required %> class="form-control form-value">
        <div class="error-block"></div>
        <div class="hint-block"><%- p.hint %></div>
    </div>
</div>
