<!-- _part/attr/password -->
<%
const p = {};
%>
<%- include(_view.get('_part/attr/_params'), {p}) %>

<div class="form-attr form-group <%- p.required %>" data-handler="<%= p.handler %>">
    <label class="control-label <%- p.labelCss %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <input name="<%- p.name %>" type="password" class="form-control form-value">
        <div class="error-block"></div>
        <div class="hint-block"><%- p.hint %></div>
    </div>
</div>
