<!-- _part/attr/password -->

<% let params = {}; %>
<%- include('_params', {params}) %>

<div class="form-attr form-group<%- params.required %>" data-type="<%- params.type %>">
    <label for="<%- params.id %>" class="control-label <%- params.labelCss %>"><%- params.label %></label>
    <div class="<%- params.valueCss %>">
        <input id="<%- params.id %>" name="<%- params.name %>"
               type="password" value="" class="form-control form-value"/>
        <div class="hint-block"><%- params.hint %></div>
        <div class="error-block"></div>
    </div>
</div>
