<!-- _part/attr/password -->
<%
const p = {};
const params = {p};
%>
<%- include(_view.get('_part/attr/_params'), params) %>

<div class="form-attr form-group row <%- p.required %>" data-handler="<%= p.handler %>">

  <%- include(_view.get('_part/attr/_label'), params) %>

  <div class="<%- p.valueCss %>">
    <input name="<%- p.name %>" type="password" <%- p.required %> class="form-control form-value">
    <div class="error-block"></div>
    <div class="hint-block"><%- p.hint %></div>
  </div>
</div>
