<!-- _part/attr/radioList -->
<%
const p = {
    handler: 'RadioList'
};
if (items === 'labels') {
    items = _controller.getLabelSelectItems(attr, model);
}
%>
<%- include('_params', {p}) %>

<div class="form-attr <%- p.css %> <%- p.required %> form-group"
     data-handler="<%= p.handler %>"
     data-binder='<%= p.binder %>'>
    <label class="control-label <%- p.labelCss %>" data-t="<%- p.translate %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <input name="<%- p.name %>" value="<%- p.value %>" type="hidden">
        <div class="radio-list">
            <% if (!p.required && typeof emptyText !== 'undefined') { %>
            <label class="radio radio-inline">
                <input type="radio" value="">
                <span data-t="<%- p.translate %>"><%- emptyText %></span>
            </label>
            <% } for (const item of items) { %>
            <label class="radio radio-inline">
                <input value="<%- item.value %>" type="radio">
                <span data-t="<%- p.translate %>"><%- item.text %></span>
            </label>
            <% } %>
        </div>
        <div class="hint-block" data-t="<%- p.translate %>"><%- p.hint %></div>
        <div class="error-block"></div>
    </div>
</div>