<!-- _part/attr/radioList -->
<%
const p = {
    handler: 'RadioList'
};
if (items === 'labels') {
    items = _controller.getLabelSelectItems(attr, model);
}
%>
<%- include(_view.get('_part/attr/_params'), {p}) %>

<div class="form-attr <%- p.css %> <%- p.required %> form-group"
     data-handler="<%= p.handler %>"
     data-action-binder="<%= p.actionBinder %>">
    <label class="control-label <%- p.labelCss %>" data-t="<%- p.translate %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <input name="<%- p.name %>" value="<%- p.value %>" type="hidden" class="form-value">
        <div class="radio-list">
            <% if (!p.required && typeof emptyText !== 'undefined') { %>
            <label class="radio radio-inline">
                <input type="radio" value="">
                <span data-t="<%- p.translate %>"><%- emptyText %></span>
            </label>
            <% } if (Array.isArray(items)) {
               for (const item of items) { %>
            <label class="radio radio-inline">
                <input value="<%- item.value %>" type="radio">
                <span data-t="<%- p.translate %>"><%- item.text %></span>
            </label>
            <% }} else {
               for (const key of Object.keys(items)) { %>
            <label class="radio radio-inline">
                <input value="<%- key %>" type="radio">
                <span data-t="<%- p.translate %>"><%- items[key] %></span>
            </label>
            <% }} %>
        </div>
        <div class="error-block"></div>
        <div class="hint-block" data-t="<%- p.translate %>"><%- p.hint %></div>
    </div>
</div>