<!-- _part/attr/radioList -->
<%
let params = {};
if (items === 'labels') {
    items = _controller.getLabelSelectItems(attr, model);
}
%>
<%- include('_params', {params}) %>

<div class="form-attr <%- params.css %> <%- params.required %> form-group"
     data-type="radioList"
     data-attraction='<%= params.attraction %>'>
    <label class="control-label l10n <%- params.labelCss %>"><%- params.label %></label>
    <div class="<%- params.valueCss %>">
        <input name="<%- params.name %>" value="<%- params.value %>" type="hidden" class="form-value">
        <div class="radio-list">
            <% if (!params.required && typeof emptyText !== 'undefined') { %>
            <label class="radio radio-inline">
                <input type="radio" value="">
                <span class="l10n"><%- emptyText %></span>
            </label>
            <% } %>
            <% for (let item of items) { %>
            <label class="radio radio-inline">
                <input value="<%- item.value %>" type="radio">
                <span class="l10n"><%- item.text %></span>
            </label>
            <% } %>
        </div>
        <div class="hint-block l10n"><%- params.hint %></div>
        <div class="error-block"></div>
    </div>
</div>