<!-- _part/attr/relation -->
<%
const p = {
    handler: 'Relation'
};
%>
<%- include('_params', {p}) %>
<%
const d = {
    showTop: false,
    key: model.PK,
    relName: attr,
    order: {[model.PK]: -1},
    pageSize: 10,
    delete: true,
    unlink: true,
    confirmDeletion: true,
    ...data
};
d.attr = attr;
d.relName = d.relName || attr;

const relation = model.getRelation(d.relName);
const urlParams = {
    rel: d.relName,
    pid: model.getId()
};
d.multiple = relation.isMultiple();

if (d.showBottom === undefined) {
    d.showBottom = d.multiple && d.pageSize > 0;
}
if (d.list !== null) {
    if (d.list === undefined) {
        d.list = ['list-related', urlParams];
    } else if (typeof d.list === 'string') {
        d.list = [d.list, urlParams];
    }
    d.list = _url(d.list);
}
const relUrl = typeof relRoute === 'undefined'
        ? relation.model.getControllerClass().NAME
        : relRoute;
/*
if (d.view !== null) {
    d.view = _url(d.view === undefined ? `${relUrl}/view` : d.view);
} //*/
if (d.create !== null) {
    if (d.create === undefined) {
        d.create = [`${relUrl}/create`, urlParams];
    } else if (typeof d.create === 'string') {
        d.create = [d.create, urlParams];
    } else if (!Array.isArray(d.create)) {
        d.create = [`${relUrl}/create`, Object.assign(urlParams, d.create)];
    }
    d.create = _url(d.create);
}
if (d.clone === true) {
    d.clone = _url(`${relUrl}/clone`);
} else if (Array.isArray(d.clone)) {
    d.clone = _url(d.clone);
}
if (d.update !== null) {
    if (d.update === undefined) {
        d.update = [`${relUrl}/update`, urlParams];
    } else if (typeof d.update === 'string') {
        d.update = [d.update, urlParams];
    } else if (!Array.isArray(d.update)) {
        d.update = [`${relUrl}/update`, Object.assign(urlParams, d.update)];
    }
    d.update = _url(d.update);
}
if (d.link !== null) {
    if (d.link === undefined) {
        d.link = [`${relUrl}/select`, urlParams];
    } else if (typeof d.link === 'string') {
        d.link = [d.link, urlParams];
    }
    d.link = _url(d.link);
}
if (d.modalSort) {
    if (d.modalSort === true) {
        d.modalSort = _url('sort-related', urlParams);
    } else if (Array.isArray(d.modalSort)) {
        d.modalSort = _url(d.modalSort);
    }
}
let hasKeyColumn = false;
for (const column of d.columns) {
    if (column.label === undefined) {
        column.label = relation.model.getAttrLabel(column.name);
    }
    if (column.name === d.key) {
        hasKeyColumn = true;
    }
}
if (!hasKeyColumn) {
    d.columns.unshift({
        type: 'id',
        name: model.PK,
        hidden: true,
        searchable: true,
        sortable: true
    });
}
if (d.filter && !d.filter.url) {
    d.filter.url = _url(`${relUrl}/filter`);
}
d.id = attr + _controller.getCurrentRoute();
%>
<div class="form-attr form-group <%- p.required %> <%- p.css %>" data-handler="<%= p.handler %>">
    <label class="control-label <%- p.labelCss %>" title="<%= p.extHint%>"
           data-t="<%- p.translate %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <div class="box box-grid box-grid-field">
            <input name="<%- p.name %>" type="hidden" class="form-value">
            <div class="box-body">
                <div class="data-grid" data-params="<%= JSON.stringify(d) %>">
                    <div class="list-commands" data-jam="IndexSorting">
                        <% if (d.link) { %>
                        <div class="btn-set">
                            <button data-command="link" data-index="10" title="Add" class="btn btn-default"
                                    type="button">
                                <span class="fa fa-link"></span>
                            </button>
                            <% if (d.unlink) { %>
                            <button data-command="unlink" data-index="20" title="Remove" class="btn btn-default"
                                    type="button">
                                <span class="fa fa-unlink text-danger"></span>
                            </button>
                            <% } %>
                        </div>
                        <% } if (d.create) { %>
                        <button data-command="create" data-index="30" title="Create" class="btn btn-success btn-light"
                                type="button">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <% } if (d.update) { %>
                        <button data-command="update" data-index="40" title="Edit" class="btn btn-warning btn-light"
                                type="button">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <% } if (d.delete) { %>
                        <button data-command="delete" data-index="50" title="Delete" class="btn btn-white"
                                type="button">
                            <span class="glyphicon glyphicon-trash text-danger"></span>
                        </button>
                        <% } %>
                        <div class="btn-set" data-index="60">
                            <button data-command="reload" title="Reload" class="btn btn-default"
                                    type="button">
                                <span class="fa fa-redo-alt"></span>
                            </button>
                        </div>
                        <% if (d.modalSort) { %>
                        <button data-command="sort" data-index="70" title="Sort" class="btn btn-white" type="button">
                            <span class="glyphicon glyphicon-sort"></span>
                        </button>
                        <% } if (d.clone) { %>
                        <button data-command="clone" data-index="80" title="Clone" class="btn btn-success btn-light"
                                type="button">
                            <span class="fa fa-copy"></span>
                        </button>
                        <% } if (d.createMultiple) { %>
                        <button data-command="createMultiple" data-index="90" title="Create multiple"
                                class="btn btn-success btn-light" type="button">
                            <span class="glyphicon glyphicon-th"></span>
                        </button>
                        <% } if (typeof tools !== 'undefined') { %>
                        <%- include(_view.get('_part/other/render'), {data: tools}) %>
                        <% } %>
                    </div>
                    <% if (d.filter) { %>
                    <div class="list-filter">
                        <div class="text-center"><i class="fa fa-spinner fa-spin"></i></div>
                    </div>
                    <% } if (d.showTop) { %>
                    <div class="row-top row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="data-grid-common-search">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="clear" title="Clear">&times;</span>
                                <span class="advanced-toggle glyphicon glyphicon-cog" title="Advanced search"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-8 col-lg-9">
                            <div class="data-grid-tuner">
                                <button type="button" class="toggle btn btn-default">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </button>
                            </div>
                            <div class="data-grid-page-size hidden">
                                <select class="form-control" title="Page size"></select>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <div class="table-responsive">
                        <table class="data-grid-table table table-bordered table-striped table-condensed">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <% if (d.showBottom) { %>
                    <%- include(_view.get('_part/list/bottom')) %>
                    <% } %>
                </div>
            </div>
            <div class="list-loader overlay"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
        <div class="error-block"></div>
        <div class="hint-block" data-t="<%- p.translate %>"><%- p.hint %></div>
    </div>
</div>