<!-- _part/attr/select -->
<%
const p = {
    hasEmpty: typeof hasEmpty === 'undefined' ? true : hasEmpty,
    emptyText: typeof emptyText === 'undefined' ? '' : emptyText,
    valueKey: typeof valueKey === 'undefined' ? 'value' : valueKey,
    textKey: typeof textKey === 'undefined' ? 'text' : textKey,
    select2: typeof select2 === 'undefined' ? '' : JSON.stringify(select2),
    update: typeof update === 'undefined' ? '' : update,
    masters: typeof masters === 'undefined' ? '' : JSON.stringify(masters),
    itemTranslate: typeof itemTranslate === 'undefined' ? '' : itemTranslate
};
%>
<%- include('_params', {p}) %>
<%
let content = p.hasEmpty ? `<option value="">${p.emptyText}</option>` : '';
if (typeof items !== 'undefined' && items) {
    if (items === 'labels') {
        items = _controller.getLabelSelectItems(attr, model);
    }
    for (const item of items) {
        if (item.separator) {
            const text = item[p.textKey] === undefined ? '------' : item[p.textKey];
            content += `<option disabled>${text}</option>`;
        } else {
            const selected = item[p.valueKey] == p.value ? 'selected' : '';
            content += `<option ${selected} value="${item[p.valueKey]}" data-t="${p.itemTranslate}">${item[p.textKey]}</option>`;
        }
    }
} else if (p.value !== '') {
    content += `<option selected value="${p.value}">${p.displayValue}</option>`;
}
content = `<select name="${p.name}" ${p.disabled} class="form-control">${content}</select>`;
%>
<div class="form-attr form-group<%- p.required %> <%- p.css %>"
     data-type="select"
     data-select2="<%= p.select2 %>"
     data-masters="<%= p.masters %>"
     data-attraction='<%= p.attraction %>'>
    <label for="<%- p.id %>" data-t="<%- p.translate %>" title="<%= p.extHint %>"
           class="control-label <%- p.labelCss %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <% if (p.update) { %>
        <div class="input-group">
            <%- content %>
            <div class="input-group-btn">
                <button data-action="update" class="btn btn-default" type="button" data-url="<%- p.update %>">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
        </div>
        <% } else { %>
        <%- content %>
        <% } %>
        <div class="hint-block" data-t="<%- p.translate %>"><%- p.hint %></div>
        <div class="error-block"></div>
    </div>
</div>