<!-- _part/attr/select -->
<%
let params = {
    hasEmpty: typeof hasEmpty === 'undefined' ? true : hasEmpty,
    emptyText: typeof emptyText === 'undefined' ? '' : emptyText,
    valueKey: typeof valueKey === 'undefined' ? 'value' : valueKey,
    textKey: typeof textKey === 'undefined' ? 'text' : textKey,
    select2: typeof select2 === 'undefined' ? '' : JSON.stringify(select2),
    update: typeof update === 'undefined' ? '' : update,
    masters: typeof masters === 'undefined' ? '' : JSON.stringify(masters),
    itemTranslate: typeof itemTranslate === 'undefined' ? '' : itemTranslate
};
%>
<%- include('_params', {params}) %>
<%
let content = params.hasEmpty ? `<option value="">${params.emptyText}</option>` : '';
if (typeof items !== 'undefined' && items) {
    if (items === 'labels') {
        items = _controller.getLabelSelectItems(attr, model);
    }
    for (let item of items) {
        if (item.separator) {
            let text = item[params.textKey] === undefined ? '------' : item[params.textKey];
            content += `<option disabled>${text}</option>`;
        } else {
            let selected = item[params.valueKey] == params.value ? 'selected' : '';
            content += `<option ${selected} value="${item[params.valueKey]}" data-t="${params.itemTranslate}">${item[params.textKey]}</option>`;
        }
    }
} else if (params.value !== '') {
    content += `<option selected value="${params.value}">${params.displayValue}</option>`;
}
content = `<select name="${params.name}" ${params.disabled} class="form-control form-value">${content}</select>`;
%>
<div class="form-attr form-group<%- params.required %> <%- params.css %>"
     data-type="select"
     data-select2="<%= params.select2 %>"
     data-masters="<%= params.masters %>"
     data-attraction='<%= params.attraction %>'>
    <label for="<%- params.id %>" data-t="<%- params.translate %>" title="<%= params.extHint %>"
           class="control-label <%- params.labelCss %>"><%- params.label %></label>
    <div class="<%- params.valueCss %>">
        <% if (params.update) { %>
        <div class="input-group">
            <%- content %>
            <div class="input-group-btn">
                <button data-action="update" class="btn btn-default" type="button" data-url="<%- params.update %>">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </div>
        </div>
        <% } else { %>
        <%- content %>
        <% } %>
        <div class="hint-block" data-t="<%- params.translate %>"><%- params.hint %></div>
        <div class="error-block"></div>
    </div>
</div>