<!-- _part/attr/static -->
<%
const p = {
    hideEmpty: typeof hideEmpty === 'undefined' ? false : hideEmpty
};
%>
<%- include(_view.get('_part/attr/_params'), {p}) %>
<%
p.translateValue = typeof translateValue === 'undefined' ? 'none' : translateValue;
if (p.escape) {
    p.displayValue = _escape(p.displayValue);
}
if (p.value && typeof url !== 'undefined') {
    p.displayValue = `<a href="${_url(url)}" class="frame-link" tabindex="-1" data-t="${p.translateValue}">${p.displayValue}</a>`;
}
if (p.hideEmpty && p.value === '') {
%>
<div class="form-attr hidden" data-handler="<%= p.handler %>">
    <input name="<%- p.name %>" type="hidden" value="" class="form-value">
</div>
<% } else { %>
<div class="form-attr-static form-attr form-group row <%- p.css %>" data-handler="<%= p.handler %>">
    <label class="col-form-label <%- p.labelCss %>">
        <span class="col-form-label-text" title="<%= p.extHint %>" data-t="<%- p.translate %>"><%- p.label %></span>
    </label>
    <div class="<%- p.valueCss %>">
        <input type="hidden" name="<%- p.name %>" value="<%= p.value %>" class="form-value">
        <div class="form-control-plaintext" data-t="<%- p.translateValue %>"><%- p.displayValue %></div>
        <div class="error-block"></div>
    </div>
</div>
<% } %>