<!-- _part/attr/string -->

<% let params = {}; %>
<%- include('_params', {params}) %>

<div class="form-attr form-group<%- params.required %> <%- params.css %>"
     data-type="<%- params.type %>"
     data-attraction='<%= params.attraction %>'
     data-handler="<%= JSON.stringify(typeof handler !== 'undefined' ? handler : null) %>">
    <label for="<%- params.id %>" title="<%= params.extHint %>"
           class="control-label l10n <%- params.labelCss %>"><%- params.label %></label>
    <div class="<%- params.valueCss %>">
        <input id="<%- params.id %>"
               name="<%- params.name %>"
               type="text"
               placeholder="<%- params.placeholder %>"
               value="<%= params.value %>"
               class="form-control form-value" autofocus/>
        <div class="hint-block l10n"><%- params.hint %></div>
        <div class="error-block"></div>
    </div>
</div>
