<!-- _part/attr/string -->

<% const p = {}; %>
<%- include('_params', {p}) %>

<div class="form-attr form-group<%- p.required %> <%- p.css %>"
     data-handler="<%= p.handler %>"
     data-attraction='<%= p.attraction %>'>
    <label for="<%- p.id %>" title="<%= p.extHint %>"
           class="control-label <%- p.labelCss %>" data-t="<%- p.translate %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <input id="<%- p.id %>" name="<%- p.name %>" type="text" placeholder="<%- p.placeholder %>"
               value="<%= p.value %>" class="form-control"/>
        <div class="hint-block" data-t="<%- p.translate %>"><%- p.hint %></div>
        <div class="error-block"></div>
    </div>
</div>
