<!-- _part/attr/stringAddon -->
<%
const p = {
    before: typeof before === 'undefined' ? null : before,
    beforeCss: typeof beforeCss === 'undefined' ? null : beforeCss,
    after: typeof after === 'undefined' ? null : after,
    afterCss: typeof afterCss === 'undefined' ? null : afterCss
};
%>
<%- include(_view.get('_part/attr/_params'), {p}) %>

<div class="form-attr form-group <%- p.required %> <%- p.css %>"
     data-handler="<%= p.handler %>"
     data-behaviors="<%= p.behaviors %>"
     data-action-binder="<%= p.actionBinder %>">
    <label class="control-label <%- p.labelCss %>"
           title="<%= p.extHint %>" data-t="<%- p.translate %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <div class="input-group">
            <% if (p.before) { %>
            <span class="input-group-addon <%- p.beforeCss %>"><%- p.before %></span>
            <% } %>
            <input name="<%- p.name %>" type="text" placeholder="<%- p.placeholder %>"
                   value="<%= p.value %>" <%- p.required %> class="form-control form-value" autocomplete="on">
            <% if (p.after) { %>
            <span class="input-group-addon <%- p.afterCss %>"><%- p.after %></span>
            <% } %>
        </div>
        <div class="error-block"></div>
        <div class="hint-block" data-t="<%- p.translate %>"><%- p.hint %></div>
    </div>
</div>