<!-- _part/attr/template -->

<% let params = {}; %>
<%- include('_params', {params}) %>

<div class="form-attr form-group<%- params.required %>">
    <label for="<%- params.id %>" class="control-label <%- params.labelCss %>"><%- params.label %></label>
    <div class="<%- params.valueCss %>">

        <%- include(template) %>

        <div class="hint-block"><%- params.hint %></div>
        <div class="error-block"></div>
    </div>
</div>