<!-- _part/attr/text -->

<% let params = {}; %>
<%- include('_params', {params}) %>
<% params.rows = typeof rows === 'undefined' ? 4 : rows; %>

<div class="form-attr form-group<%- params.required %> <%- params.css %>"
     data-attraction='<%= params.attraction %>'>
    <label for="<%- params.id %>" class="control-label l10n <%- params.labelCss %>"><%- params.label %></label>
    <div class="<%- params.valueCss %>">
        <textarea id="<%- params.id %>" name="<%- params.name %>"
                  class="form-control form-value"
                  rows="<%- params.rows %>"><%= params.value %></textarea>
        <div class="error-block"></div>
    </div>
</div>