<!-- _part/attr/text -->
<% 
const p = {
    rows: typeof rows === 'undefined' ? 2 : rows
}; 
%>
<%- include('_params', {p}) %>

<div class="form-attr form-group<%- p.required %> <%- p.css %>"
     data-handler="<%= p.handler %>"
     data-binder='<%= p.binder %>'>
    <label for="<%- p.id %>" class="control-label <%- p.labelCss %>" title="<%= p.extHint %>"
           data-t="<%- p.translate %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <textarea id="<%- p.id %>" name="<%- p.name %>" class="form-control"
                  rows="<%- p.rows %>"><%= p.value %></textarea>
        <div class="hint-block" data-t="<%- p.translate %>"><%- p.hint %></div>
        <div class="error-block"></div>
    </div>
</div>