<!-- _part/attr/valueMap -->

<% const p = {handler: 'ValueMap'}; %>

<%- include('_params', {p}) %>

<div class="value-map form-attr form-group<%- p.required %>"
     data-handler="<%= p.handler %>"
     data-attraction='<%= p.attraction %>'>
    <label class="control-label <%- p.labelCss %>" title="<%= p.extHint %>"
           data-t="<%- p.translate %>"><%- p.label %></label>
    <div class="<%- p.valueCss %>">
        <input name="<%- p.name %>" type="hidden" value="<%= p.value ? JSON.stringify(p.value) : '' %>">
        <div class="hint-block" data-t="<%- p.translate %>"><%- p.hint %></div>
        <div class="error-block"></div>
        <div class="value-map-items">
            <div class="value-map-item">
                <div class="row">
                    <div class="col-xs-6">
                        <input type="text" class="form-control text-right param value-param" placeholder="Value">
                    </div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control param text-param" placeholder="Text">
                    </div>
                </div>
                <div class="value-map-item-controls btn-group">
                    <button data-id="add" type="button" class="btn btn-white btn-light" title="Add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button data-id="down" type="button" class="btn btn-warning btn-light" title="Down">
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                    <button data-id="up" type="button" class="btn btn-warning btn-light" title="Up">
                        <span class="glyphicon glyphicon-menu-up"></span>
                    </button>
                    <button data-id="remove" type="button" class="btn btn-default" title="Remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>