<!-- _part/attr/valueMap -->

<% let params = {}; %>
<%- include('_params', {params}) %>

<div class="value-map form-attr form-group<%- params.required %>" data-type="valueMap">
    <label class="control-label <%- params.labelCss %>" data-t="<%- params.translate %>"><%- params.label %></label>
    <div class="<%- params.valueCss %>">
        <input name="<%- params.name %>" type="hidden" class="form-value"
               value="<%= params.value ? JSON.stringify(params.value) : '' %>">

        <div class="error-block"></div>

        <div class="value-map-items">
            <div class="value-map-item">
                <div class="row">
                    <div class="col-xs-6">
                        <input type="text" class="form-control text-right param value-param" placeholder="Value">
                    </div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control param text-param" placeholder="Text">
                    </div>
                </div>
                <div class="value-map-item-controls btn-group">
                    <button data-id="add" type="button" class="btn btn-white btn-light" title="Add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button data-id="down" type="button" class="btn btn-warning btn-light" title="Down">
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                    <button data-id="up" type="button" class="btn btn-warning btn-light" title="Up">
                        <span class="glyphicon glyphicon-menu-up"></span>
                    </button>
                    <button data-id="remove" type="button" class="btn btn-default" title="Remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>